/* Variables */
:root {
    --color-fondo: #f8f9fa;
    /* Color de fondo general: un gris muy claro (casi blanco) */
    --color-texto: #343a40;
    /* Color de texto principal: un gris oscuro (casi negro) */
    --color-acento: #a00a3c;
    /* Color de acento o principal: azul brillante (similar al de Bootstrap) */
    --color-hover: #0056b3;
    /* Color de acento en estado hover: azul más oscuro */
    --color-badge-secundario: #2874a6;
    /* Color secundario para insignias (badges): verde */
    --color-badge-primario: #5fb4ec;
    --color-badge-tag-1: #FF5733;
    /* Color para la primera etiqueta (tag): naranja rojizo */
    --color-badge-tag-2: #007BFF;
    /* Color para la segunda etiqueta (tag): azul (igual a `--color-acento`) */
    --color-badge-tag-3: #FFC107;
    /* Color para la tercera etiqueta (tag): amarillo dorado */
    --color-background-card: #ffffff;
    /* Color de fondo para tarjetas: blanco puro */
    --color-border-light: #ddd;
    /* Color de borde claro: gris claro */
    --color-light-shadow: rgba(0, 0, 0, 0.1);
    /* Sombra ligera: negro con opacidad del 10% */
    --color-dark-shadow: rgba(0, 0, 0, 0.2);
    /* Sombra oscura: negro con opacidad del 20% */
    --color-fondo-celeste: #d8f1ff;
}

html {
    scroll-behavior: smooth;
}

.top-screen {
    position: sticky;
    top: 0;
    background-color: var(--color-fondo);
    z-index: 100;
    padding-top: 9vh;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Centra los elementos dentro del contenedor */
    margin: 0 auto;
    /* Centra el contenedor en la página */
}
/* Para pantallas grandes*/
@media (min-height: 700px) {
    .top-screen{
        min-height: 250px;
    }
}
/* Asegura el centrado horizontal del .form-group */
.top-screen .form-group,
.bar-index .form-group {
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    margin: 0 auto;
    /* Centra el contenedor */
    max-width: 770px;
    /* Opcional: ajusta el ancho máximo */
    width: 100%;
    /* Ocupa todo el espacio disponible */
    position: relative;
    margin-bottom: 8px;

}

/* Campo de entrada con espacio para el ícono */
#barra-busqueda,
#barra-busqueda-cat,
#barra-busqueda-cats,
#barra-busqueda-autores,
#barra-busqueda-dich {
    padding-left: 40px;
    flex: 1;
    max-width: 800px;
    border-radius: 8px;
}

.bottom-screen {

    width: 100%;
    max-width: 800px;
    /* Espacio entre top-screen y bottom-screen */
}

/* General */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif, impact, Verdana, Georgia, Tahoma, 'Courier New', Courier, monospace, 'Times New Roman', Times, serif Roman;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

#h1-frasedia {
    font-size: 1.1rem;
    text-align: left;
}


.list-group-item {
    border-radius: 8px;
    /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.7);
    /* Fondo blanco */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.frase-content {
    display: flex;
    flex-direction: column;
    padding: 8px;

    /* Borde fino en gris claro */
    border-radius: 8px;
    /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo blanco */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    margin-bottom: 5px;
    /* Espacio entre tarjetas */
}

/* Ícono de búsqueda */
.form-group::before {
    content: "\f002";
    /* Código Unicode de la lupa de Font Awesome */
    font-family: "Font Awesome 5 Free";
    /* Asegúrate de tener Font Awesome cargado */
    font-weight: 900;
    /* Estilo del ícono */
    position: absolute;
    left: 10px;
    /* Espacio del borde izquierdo */
    top: 50%;
    /* Centrado vertical */
    transform: translateY(-50%);
    color: gray;
    font-size: 1.2em;
    margin-right: 40px;

}

.modal-body{
    padding: 0;
    margin: 0;
}
#canvasModal{
    position:fixed;
    top: 0;
    left: 0;
}
.background {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('arbol-fondo-00.png') center/cover no-repeat;
    background-attachment: fixed;
    opacity: 0.25;
    z-index: -1;
}


.holiday-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@keyframes gradient-text {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn-holiday {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.btn-holiday i {
    font-size: 20px;
}

.btn-holiday span {
    background: linear-gradient(90deg, #ffffff, #ff0000, #ffff00, #00ff00, #ffcc00);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-text 5s ease infinite;
}

.btn-holiday.navidad {
    background-image: url('./img-btn-navidad.jpg');
}

.btn-holiday.ano-nuevo {
    background-image: url('./img-btn-anio-nuevo.jpg');
}



h1 {
    color: var(--color-texto);
    /* Color del texto */
    font-size: 2.5rem;
    /* Tamaño más grande */
    font-weight: bold;
    /* Texto en negrita */
    margin-bottom: 1.5rem;
    /* Espaciado inferior */
    text-align: center;
    /* Centrado horizontal */
    letter-spacing: 1.5px;
    /* Espaciado entre letras */

    display: inline-block;
    /* Ajusta el ancho al contenido */
    padding-bottom: 0.5rem;
    /* Espaciado entre texto y borde */
    width: 100%;
    /* Ocupa el ancho completo */
    box-sizing: border-box;
    /* Incluye el borde en el ancho total */
    transition: color 0.3s ease;
    /* Transición suave de color */
}

h2 {
    color: var(--color-texto);
    /* Color del texto */
    font-size: 2rem;
    /* Tamaño más grande */
    /* Texto en negrita */
    margin-bottom: 1.3rem;
    /* Espaciado inferior */
    text-align: center;
    /* Centrado horizontal */
    letter-spacing: 1.2px;
    /* Espaciado entre letras */
    display: inline-block;
    /* Ajusta el ancho al contenido */
    padding-bottom: 0.5rem;
    /* Espaciado entre texto y borde */
    width: 100%;
    /* Ocupa el ancho completo */
    box-sizing: border-box;
    /* Incluye el borde en el ancho total */
    transition: color 0.3s ease;
    /* Transición suave de color */
}

h3 {
    color: var(--color-texto);
    /* Color del texto */
    font-size: 1.6rem;
    /* Tamaño más grande */
    /* Texto en negrita */
    margin-bottom: 1rem;
    /* Espaciado inferior */
    text-align: center;
    /* Centrado horizontal */
    letter-spacing: 1.2px;
    /* Espaciado entre letras */
    display: inline-block;
    /* Ajusta el ancho al contenido */
    padding-bottom: 0.5rem;
    /* Espaciado entre texto y borde */
    width: 100%;
    /* Ocupa el ancho completo */
    box-sizing: border-box;
    /* Incluye el borde en el ancho total */
    transition: color 0.3s ease;
    /* Transición suave de color */
}

/*#resultados-busqueda{
background-color: rgb(155, 155, 155);
}*/
.scrollable-container {
    max-height: 225px;
    /* Ajusta según tus necesidades */
    overflow-y: auto;
    /* border: 1px solid var(--color-light-shadow); /* Añade un borde para separar visualmente */

    /*   border-radius: 5px; /* Bordes redondeados */
    max-width: 100%;
    width: 100%;
}

.scrollable-container-cat {

    max-height: 80vh;
    /* Ajusta según tus necesidades */
    overflow-y: auto;
    /* border: 1px solid var(--color-light-shadow); /* Añade un borde para separar visualmente */

    /*   border-radius: 5px; /* Bordes redondeados */
    max-width: 100%;
    width: 100%;
}

/* Opcional: Estilo para la barra de desplazamiento */
.scrollable-container::-webkit-scrollbar,
.scrollable-container-cat::-webkit-scrollbar {
    width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb,
.scrollable-container-cat::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-shadow);
    border-radius: 5px;
}


/* Estilos para el Navbar */
.navbar {
    z-index: 1000;
    background-color: var(--color-badge-primario);
    /* Fondo del navbar */
    color: var(--color-acento);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    padding: 0.3rem 0.5rem;
    /* Relleno para un navbar más espacioso */
}

.navbar-nav .nav-link {
    text-align: center;
    font-weight: 600;
    /* Texto más grueso */
    color: var(--color-texto);
    /* Color de texto */
    text-transform: uppercase;
    /* Letras en mayúsculas */
    padding: 0.3rem 0.3rem;
    /* Espaciado alrededor de los enlaces */
    letter-spacing: 1px;
    /* Espaciado entre letras */
    transition: color 0.3s ease, transform 0.2s ease;
    /* Transición suave */
}

.navbar-nav .nav-link:hover {
    color: var(--color-acento);
    /* Color en hover */
    transform: scale(1.05);
    /* Efecto de agrandado en hover */
}

.navbar-brand {
    font-size: 1.4rem;
    /* Tamaño de la marca */
    font-weight: 400;
    /* Texto en negrita */
    color: var(--color-acento);
    /* Color de acento */
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 6px;
    /* Mayúsculas en el nombre */
}




/* Centrado en pantallas pequeñas */
@media (max-width: 800px) {
    .navbar-nav {
        text-align: center;
        /* Centra las opciones en dispositivos pequeños */
        width: 100%;
        /* Asegura que ocupe todo el ancho */
    }

    .navbar-nav .nav-item {
        display: inline-block;
        /* Muestra cada opción centrada */
        margin: 0.1rem 0;
        /* Espaciado entre los elementos */
    }
}
.frase-dia {
    font-size: 1.4rem;

}
/* Tags y Badges */
.badge-filosofia {
    background-color: #6618f5;
    /* Púrpura para representar reflexión y sabiduría */
    color: #ffffff;
    /* Texto blanco para buen contraste */
}

.badge-amor {
    background-color: #e91e63;
    /* Rosa fuerte para simbolizar el amor */
    color: #ffffff;
}

.badge-accion {
    background-color: #e74c3c;
    /* Rojo para acción y energía */
    color: #ffffff;
}

.badge-sueños {
    background-color: #9b59b6;
    /* Púrpura para sueños y creatividad */
    color: #ffffff;
}

.badge-esperanza {
    background-color: #2ecc71;
    /* Verde brillante para esperanza y optimismo */
    color: #ffffff;
}

.badge-melancolia {
    background-color: #34495e;
    /* Gris oscuro para melancolía y reflexión */
    color: #ffffff;
}

.badge-fuerza {
    background-color: #f39c12;
    /* Naranja para fuerza y determinación */
    color: #ffffff;
}

.badge-felicidad {
    background-color: #f1c40f;
    /* Amarillo brillante para felicidad y alegría */
    color: #ffffff;
}

.badge-motivacion {
    background-color: #ff9800;
    /* Naranja vibrante para energía y entusiasmo */
    color: #ffffff;
}

.badge-trabajo {
    background-color: #2196f3;
    /* Azul para confianza y profesionalismo */
    color: #ffffff;
}

.badge-tristeza {
    background-color: #ab82ec;
    /* Azul para confianza y profesionalismo */
    color: #ffffff;
}

.badge-inspiracion {
    background-color: #4caf50;
    /* Verde para representar crecimiento e ideas frescas */
    color: #ffffff;
}

.badge-superacion {
    background-color: #ff5722;
    /* Naranja rojizo para esfuerzo y logros */
    color: #ffffff;
}

.badge-navidad {
    background: linear-gradient(90deg, #d32f2f, #388e3c);
    /* Rojo cálido y verde oscuro */
    color: #ffffff;
}

.badge-ano-nuevo {
    background: linear-gradient(90deg, #f39c12, #f1c40f);
    /* Dorado brillante */
    color: #ffffff;
}

.badge-vida {
    background-color: #009688;
    /* Verde azulado para vitalidad y balance */
    color: #ffffff;
}

.badge-futuro {
    background-color: #009677;
    /* Verde azulado para vitalidad y balance */
    color: #ffffff;
}

.badge-educacion {
    background-color: #4151aa;
    /* Azul profundo para sabiduría y aprendizaje */
    color: #ffffff;
}

.badge {
    position: relative;
    padding: 6px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 8px;
    text-transform: capitalize;
    white-space: nowrap;
    color: #ffffff;
    transition: color 0.3s ease;
    /* Asegúrate de que la transición de color sea independiente */
    will-change: transform;
    /* Informa al navegador que se animará el 'transform' */
}

.badge:hover {
    transform: translateY(-3px);
    /* Mueve ligeramente hacia arriba */
    color: #fff;
    /* Mantén el color del texto constante */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.badge-primary {
    background-color: var(--color-badge-primario);
    color: #4d4d4d;
}

.badge-secondary {
    background-color: var(--color-badge-secundario);
    color: #444;
}


/* Autor */
.autor-link {

    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1rem;
    font-weight: 600;

}

/* Biografía */
.text-muted {
    font-size: 0.9rem;
    line-height: 1.2;
    color: #6c757d;
}

/* Estilos para el modal */
#canvasModal .modal-dialog {
    max-width: 830px;
    /* Controla el ancho máximo del modal */
    width: 100%;
    /* Asegura que el modal ocupe el 100% del ancho disponible */
    margin: 1.75rem auto;
    /* Centra el modal de manera automática */
}


#miCanvas {
    /*   max-height: 80vh;*/
    width: 100%;
    max-width: 100%;

    height: auto;
    /* Mantener la relación de aspecto */
    display: block;
    /* Asegura que no haya márgenes extras */
    margin: 0 auto;
    /* Centrar horizontalmente */
    /*box-shadow: 0 4px 10px var(--color-light-shadow);*/

}

#canvas-container {
    display: flex;
    width: 100%;
    /* Se adapta al ancho del contenedor padre */
    /*  max-width: 90vw; /* Opcional: limitar el tamaño máximo */
    align-items: center;
    position: relative;
    margin: 0 auto;
    justify-content: center;
}

/*
/* Asegúrate de que las imágenes dentro del canvas mantengan la proporción 
#miCanvas img {
    width: 100%;
    /* La imagen se adapta al 100% del contenedor 
    height: auto;
    /* Mantiene la altura proporcional al ancho 
    object-fit: contain;
    /* Asegura que la imagen mantenga la proporción sin recortar 
}*/

#miCanvas img {
    width: auto;
    height: auto;
   /* max-width: 100%; /* Evita que la imagen sea más ancha que su contenedor */
   /* max-height: 100%; /* Evita que la imagen sea más alta que su contenedor */
}


/* Para pantallas pequeñas */
@media (max-width: 577px) {

    #miCanvas {
        width: 100%;
        /* El canvas sigue ocupando el 100% del contenedor */
        max-width: 100%;
        /* Asegura que no se pase de este límite */
    }
}

/* Para pantallas pequeñas */
@media (max-width: 980px) {
  
    #miCanvas {
        width: 100%;
        /* El canvas sigue ocupando el 100% del contenedor */
        max-width: 100%;
        /* Asegura que no se pase de este límite */
    }

}


#barra-modificadores {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos pasen a la siguiente fila */
    justify-content: space-between;
    /* Centra los elementos */
    align-items: center;

    gap: 10px;

    width: 100%;
    /* Reduce el ancho total de la barra */
    /* max-width: 90vw;*/
    /* Limita el ancho máximo */
    margin: 0 auto;
    
    /* Centra la barra en la pantalla */
    background-color: var(--color-background-card);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    padding: 8px 20px;

    background-color: #e6e6e6;
    /* Evita que padding afecte el ancho total */
    z-index: 1000;
    border-radius:8px;
}

#barra-modificadores label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}



#barra-modificadores button:hover {
    background-color: #d1e7fd; /* Un color suave para el hover */
}

#barra-modificadores label input,
#barra-modificadores label select {
    display: none;
    position: absolute;
    top: -200%;
    background: rgb(241, 241, 241);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 3px;
    
    z-index: 10;
}

/* Mostrar el minipanel al enfocar el input o select */
#barra-modificadores label:focus-within input,
#barra-modificadores label:focus-within select,
#barra-modificadores label:hover input,
#barra-modificadores label:hover select {
    display: block;
}

/* Estilo cuando el checkbox está marcado */
#barra-modificadores label input:checked+i {
    color: var(--color-acento);
    /* Cambia el color del icono cuando el checkbox está marcado */
}

#barra-modificadores label button:focus {
    outline: none; /* Elimina el borde o contorno del enfoque */
    background-color: transparent; /* Elimina el fondo celeste de enfoque */
    box-shadow: none; /* Elimina cualquier sombra de enfoque */
}

#barra-modificadores label button i {
    color: #000000; /* Asegúrate de que el icono sea negro */
}

#barra-modificadores label button {
    margin: 0; /* Elimina cualquier margen lateral no deseado */
    padding: 0; /* Elimina el relleno adicional en el botón */
    background-color: transparent; /* Asegura que el fondo sea transparente */
    border: none; /* Elimina el borde del botón */
}


.badges {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    margin-right: 5px;
    margin-bottom: 5px;
}

.button-group {
    display: flex;
    gap: 8px;
    /* Espaciado entre botones */
}

.button-group .btn {
    color: #555;
    /* Color gris suave */
    transition: color 0.3s ease;
    /* Transición suave */
}

.button-group .btn:hover {
    color: #800020;
    /* Cambia a bordo en hover */
}

.contenedor-emociones {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    /*   margin-top: 50px;*/
}

/* Estilo para cada emoción */
.emocion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 8%;
    /* Bordes redondeados */
    /*   background-color: #f5f5f5; /* Fondo suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición para la animación */
    will-change: transform;
}

.emocion i {
    font-size: 2.8rem;
    /* Corrige el espacio aquí */
    color: #fff;
    /* Color inicial del ícono */
    transition: color 0.3s ease;
    /* Añade transición al color */
}

.emocion:hover {
    transform: translateY(-3px);
    /* Animación de desplazamiento */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* Cambia la sombra al hacer hover */
}

/*.emocion:hover i {
    color: #800020; /* Cambia el color del ícono en hover (opcional) 
}*/
/* Gradiente de colores */
.tristeza {
    background: #ab82ec;
    /* Azul oscuro */
}

.melancolia {
    background: #3b4d61;
    /* Azul grisáceo */
}

.esperanza {
    background: #92d36e;
    /* Verde claro */
}

.felicidad {
    background: #2ecc71;
    /* Naranja cálido */
}

.texto-emocion {
    text-align: center;
    /* margin-bottom: 1rem; /* Espaciado entre el texto y el resto del contenido */
}

.texto-emocion h2 {
    margin-bottom: 0.2rem;
    /* Espaciado entre el h2 y el párrafo */
    /*font-size: 2rem; /* Tamaño opcional del encabezado */
}

.texto-emocion p {
    margin-top: 0;
    font-size: 0.8rem;
    color: #6c757d;
    /* Texto mutado (gris suave) */
}
